<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../main.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <nav>
            <a href="Realtime.html">Трансляция</a>
            <a href="Record.html">Запись</a>
            <a href="Import.html">Импорт</a>
        </nav>
        <canvas id="rtChart" class="chart" width="100%"></canvas>
        <button id="recordBtn">Начать трансляцию</button>
    </div>
    <script type="module" src="../ViewModels/RealtimeVM.js"></script>
</body>
</html>