<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Запись</title>
    <link rel="stylesheet" href="../main.css"/>
</head>
<body>
<div id="app">
    <nav>
        <a href="Realtime.html">Трансляция</a>
        <a href="#">Запись</a>
        <a href="Import.html">Импорт</a>
    </nav>
    <div style="width:100%;height:100%;margin-top:60px;text-align:center">
        <button id="recordBtn">Начать запись</button>
        <p id="time">00:00:00</p>
        <div id="exportForm" class="invisible">
            <button id="exportBtn">
                <a id="exportLink">Экспортировать</a>
            </button>
            <label>Формат</label>
            <select id="exportFormat">
                <option value="json">.json</option>
                <option value="csv">.csv</option>
            </select>
        </div>
    </div>
</div>

<script src="../Helpers/loader.js"></script>
<script src="../Helpers/refreshHandler.js"></script>
<script src="../Helpers/exportFile.js"></script>
<script src="../Helpers/CSV.js"></script>
<script src="../consts/fileTypes.js"></script>
<script src="../ViewModels/RecordVM.js"></script>
<script>
    loadScripts([
        '../Helpers/refreshHandler.js',
        '../Helpers/exportFile.js',
        '../consts/fileTypes.js',
        '../Helpers/CSV.js',
        '../ViewModels/RecordVM.js'
    ]);
</script>
</body>
</html>
