<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../main.css"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <nav>
            <a href="Realtime.html">Трансляция</a>
            <a href="#">Запись</a>
            <a href="Import.html">Импорт</a>
        </nav>
        <div style="width: 100%; height: 100%; margin-top: 60px; text-align: center">
            <button id="recordBtn">
                Начать запись
            </button>
            <p id="time">00:00:00</p>
            <div id="exportForm" class="invisible">
                <button id="exportBtn">
                    <a id="exportLink">Экспортировать</a>
                </button>
                <label>Формат</label>
                <select id="exportFormat">
                    <option value="json">.json</option>
                    <option value="csv">.csv</option>
                </select>
            </div>
        </div>
    </div>
    <script type="module" src="../ViewModels/RecordVM.js"></script>
</body>
</html>