:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  display: flex;
  min-width: 345px;
  width: 100vw;
  min-height: 100vh;
}

#app {
  width: 100%;
  text-align: center;
}

#chartjs {
  width: 100%;
  max-height: 270px;
  padding: 0 5%;
}
